{% extends 'base/base.html' %}

{% block page_title %} {{ title|striptags }}{% endblock %}

{% block page_header %} {{ title }} {% endblock %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
      <table class="table table-borderless">
          <tbody>
              <tr>
                  {% for k, v in header_dict.items %}
                      <td>
                        <b> {{ k }}: </b> {{ v }}
                      </td>
                  {% endfor %}
              </tr>
          </tbody>
      </table>

  </div>
  <div class="card-body">
    {% if card_title %}<h5 class="card-title">{{ card_title }}</h5> {% endif %}
    <br>
    <i>
        <p class="card-text">
              {% for k, v in main_dict.items %}
              {% if v %}
                <b> {{ k }}: </b> {{ v }} <br>
              {% endif %}
          {% endfor %}
        </p>
    <br>
    </i>
      <div class="btn-group" role="group">

        <a href="{{ redirect_url }}" class="btn btn-light">Back to the list</a>
        <a href="{% url update_url_name pk=object.pk %}" class="btn btn-sm btn-warning">Edit </a>
        <a href="{% url delete_url_name pk=object.pk %}" class="btn btn-sm btn-danger">Delete</a>
        <a href="{% url 'commerce:service_price_list_url_name' object.pk %}" class="btn btn-info">View&Edit Prices</a>

      </div>
  </div>
  <div class="card-footer text-body-secondary">
     <table class="table table-borderless">
          <tbody>
              <tr>
                  {% for k, v in footer_dict.items %}
                    {% if v %}
                      <td>
                        <b> {{ k }}: </b> {{ v }}
                      </td>
                    {% endif %}
                  {% endfor %}
              </tr>
          </tbody>
      </table>
  </div>
</div>

{% endblock %}
