{% extends 'base/base.html' %}
{% load form_filters %}

{% block title %}
 {{title}} -- {{block.super}}
{% endblock %}

{% block page_header %}{{ title }}:{% endblock %}


{% block content %}
  {% for e in form.non_field_errors %}
    <div class="alert alert-danger"> {{ e }} </div>
  {% endfor %}
    <form action="{% if create_param %}{% url object_create_url create_param %}{% else%}{% url object_create_url %}{% endif %} " method="post" enctype="multipart/form-data">

      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {% if field.errors %}
          <div class="alert alert-danger">
            {{ field.errors }}
          </div>
        {% endif %}
        {{ field.label_tag}}
        {{ field|add_class:"form-control" }} <br>

      </div>
      {% endfor %}
      <div class="mb-4"></div>

      <button type="submit" class="btn btn-primary"> Save {{class_name}}</button>
    </form>

{% endblock %}
