{% extends 'base/base.html' %}
{% load form_filters %}

{% block title %}
 {{title}} -- {{block.super}}
{% endblock %}

{% block content %}
  {% for e in form.non_field_errors %}
    <div class="alert alert-danger"> {{ e }} </div>
  {% endfor %}

  <form class="" method="post"  enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {% if field.errors %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ field.errors }}

          </div>
        {% endif %}
            {{ field.label }}
            {{ field|add_class:"form-control" }} <br>
      </div>
      {% endfor %}

      <div class="d-flex justify-content-end">
        <a href="{{ redirect_url }}" class="btn btn-secondary me-2">Cancel</a>
        <button type="submit" class="btn btn-primary">Save {{ class_name }}</button>
      </div>

  </form>

{% endblock %}

