{% extends 'base/base.html' %}

{% block title %}
    Delete {{class_name}} {{ object_name }} -- {{ block.super }}
{% endblock %}

{% block content %}
  <form method="post">
      {% csrf_token %}
      <h3> You are deleting <b>"
          {{object_name}}"</b> {{class_name}}..... </h3> <br>
      <h2> Are you sure ????? </h2> <br>
      <a href="{{ redirect_url }}" class="btn btn-success"> No. I'm not sure </a> <br><br>
      <button type="submit" name="button" class="btn btn-danger"> Yes! I'm sure !</button>
    </form>

{% endblock %}
