{% extends 'base/base.html' %}

{% block page_title %} {{ title }}{% endblock %}

{% block page_header %}{{ title }}:{% endblock %}

{% block content %}

        <table class="table table-striped">
            <thead>
                <tr>

                    {% for field in fields %}
                    <th scope="col">{{ field }}</th>
                    {% endfor %}

                </tr>
            </thead>
            <tbody>
                {% for obj in page_object.object_list %}

                    <tr>
                        {% for value in obj.addons %}

                            <td>{{ value  }}</td>
                        {% endfor %}

                        <td>
                        {% if view_button %}
                            <a href="{{ obj.get_absolute_url }}" class="btn btn-sm btn-info">View </a>
                        {% endif %}

                        {% if edit_button %}
                            <a href="{{ obj.do_update }}" class="btn btn-sm btn-warning">Edit </a>
                        {% endif %}
                        {% if delete_button %}
                             <a href="{{ obj.do_delete }}" class="btn btn-sm btn-danger">Delete</a>
                        {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
