{% extends 'base/base.html' %}
{% load form_filters %}

{% block title %}
 {{title}} -- {{block.super}}
{% endblock %}

{% block content %}
  {% for e in form.non_field_errors %}
    <div class="alert alert-danger"> {{ e }} </div>
  {% endfor %}

  <form class="" method="post" action="{% if redirect_param %}{% url update_function redirect_param object.pk %}{% else %}{% url update_function object.pk %}{% endif %} " enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {% if field.errors %}
          <div class="alert alert-danger">
            {{ field.errors }}
          </div>
        {% endif %}
          {{ field.label }}
        {{ field }} <br>
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary"> Save {{class_name}}</button>
    </form>

{% endblock %}
