{% extends 'base/base.html' %}

{% block page_title %} {{ title|striptags }}{% endblock %}

{% block page_header %} {{ title }} {% endblock %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
      <table class="table table-borderless">
          <tbody>
              <tr>
                  {% for k, v in header_dict.items %}
                      <td>
                        <b> {{ k }}: </b> {{ v }}
                      </td>
                  {% endfor %}
              </tr>
          </tbody>
      </table>

  </div>
  <div class="card-body">
    {% if card_title %}<h5 class="card-title">{{ card_title }}</h5> {% endif %}
    <br>
    <i>
        <p class="card-text">
              {% for k, v in main_dict.items %}
              {% if v %}
                <b> {{ k }}: </b> {{ v }} <br>
              {% endif %}
          {% endfor %}
        </p>
    <br>
    </i>
    <a href="{% if redirect_param %}{% url list_function redirect_param %}{% else %}{% url list_function %}{% endif %}" class="btn btn-light">Back to the list</a>
    {% if edit_button %}
        <a href="{{ object.do_update }}" class="btn btn-sm btn-warning">Edit </a>
    {% endif %}
    {% if delete_button %}
         <a href="{{ object.do_delete }}" class="btn btn-sm btn-danger">Delete</a>
    {% endif %}



  </div>
  <div class="card-footer text-body-secondary">
     <table class="table table-borderless">
          <tbody>
              <tr>
                  {% for k, v in footer_dict.items %}
                    {% if v %}
                      <td>
                        <b> {{ k }}: </b> {{ v }}
                      </td>
                    {% endif %}
                  {% endfor %}
              </tr>
          </tbody>
      </table>
  </div>
</div>

{% endblock %}
